

.container{
    display: flex;
    flex-direction: column;
    min-width: 170px;
    background-color: #020220;  
    align-items: center;
    min-height: 100vh;
    border-radius: 0px 24px 24px 0px;
    .logo-holder{
        >img{
            width: 96px;
            height: 96px;
            margin-top: 40px;
        }
    }
    .feature-list-item{
        margin-top: 110px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0px 8px 8px 0px;
        background-color: #30303F;
        position: absolute;
        z-index: 2;
        right: -180px;
        span{
            cursor: pointer;
            font-size: 14px;
            padding: 12px 24px 9px;
            font-family: Montserrat;
            color: #FFFF;
            &:hover{
                background: #3E3E5B;
            }
        }
    }
}