@import '../../global-variable.scss';


.container{
    display: flex;
    background-color: $main-background;
    min-height: 100vh;
    flex-direction: column;
    .bottom-wrapper{     
        margin-top: 180px;
        margin-left: auto;
        margin-right: auto;
    }
}