.hover {
    min-width: 110px;
    min-height: 130px;
    padding: 16px 0px;
    display: flex;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    top: 30vh;
    right: 0px;;
    background-color: #2F2F41;
    border-radius: 16px 0px 0px 16px;
    .add-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(114, 114, 136, 0.5);
        border-radius: 67px;
        width: 52px;
        height: 52px;
        cursor: pointer;
    }
    span{
        color: #FFFF;
        font-size: 12px;
        font-family: Montserrat;
    }

}